///////////////////////////////////
// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}


///////////////////////////////////
// SEARCH BOX
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }
    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }
    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        &:focus {
            outline: none;
            background-color: var(--color-grey-light-3);
        }
        // &:active {
        //     transform: translateY(20px);
        // }
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

///////////////////////////////////
// USER NAV

.user-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    align-self: stretch;
    // background-color: greenyellow;

    // direct children of user-nav
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;

        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }
    &__icon-box {
        position: relative;
    }
    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-dark-2);
    }
    &__notification {
        font-size: .8rem;
        height: 1.7rem;
        width: 1.7rem;
        background-color: var(--color-primary);
        color: #fff;
        border-radius: 50%;

        position: absolute;
        top: 1.1rem;
        right: 1.2rem;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

///////////////////////////////////
// SIDE NAV

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-nav {
    &__item {
        list-style-type: none;
    }
    &__link {

    }
    &__icon {
        width: 2.75rem;
        height: 2.75rem;
    }
    &__label {
        text-transform: capitalize;
    }
}

.legal {
    font-size: 1.2rem;
    padding: 2.5rem;
    align-self: center;
    color: var(--color-grey-light-4);
}

///////////////////////////////////
// HOTEL VIEW

.hotel-view {
    height: 100vh;
}